# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project-specific
app/static/images/*
!app/static/images/.gitkeep
app/storage/uploads/*
!app/storage/uploads/.gitkeep

# Environment variables
.env

# Model files and cache
*.pt
*.pth
.cache/ 